footer{
    height: 70px;
    width: 100%;
    background-color: $black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .socialicons{
        width: 40%;
        height: 100%;
        // background-color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ikona{
            height: 20px;
            width: 20px;
            // background-color: blue;
            &:hover{
                cursor: url("assets/cursor-hand.png"), auto;
            }
        }
    }
}
.copyright{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    color: white;
    h1{
        opacity: 0.5;
        font-size: 1rem;
        font-weight: normal;
    }
}

@media only screen and (max-width: 1000px){
    footer{
        height: 70px;
        width: 100%;
        background-color: $black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .socialicons{
            width: 40%;
            height: 100%;
            // background-color: red;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .ikona{
                height: 20px;
                width: 20px;
                // background-color: blue;
                &:hover{
                    cursor: url("assets/cursor-hand.png"), auto;
                }
            }
        }
    }
    .copyright{
        width: 20%;
        display: flex;
        // justify-content: flex-end;
        color: white;
        h1{
            opacity: 0.5;
            font-size: 1rem;
            font-weight: normal;
            text-align: right;
        }
    }
}